In [4]:
%matplotlib inline
import pandas as pd

In [5]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [6]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2   The Spider and the Fly  1949
3                  Country  2000
4          The Golden Note  2017

In [7]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [9]:
no_of_movies = len(titles)
no_of_movies

244914

### What are the earliest two films listed in the titles dataframe?

In [22]:
movies_years = titles.sort_values(by=['year']).head(2)
movies_years

                     title  year
187327          Miss Jerry  1894
226857  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [25]:
movies_title_Hamlet = len(titles[titles['title'] == 'Hamlet'])
movies_title_Hamlet

20

### How many movies are titled "North by Northwest"?

In [26]:
movies_title_nbnwest = len(titles[titles['title'] == 'North by Northwest'])
movies_title_nbnwest

1

### When was the first movie titled "Hamlet" made?

In [29]:
first_Hamlet_movie = titles[titles['title'] == 'Hamlet'].sort_values(by=['year']).head(1)
first_Hamlet_movie

        title  year
49308  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [31]:
movies_treasure_island = titles[titles['title'] == 'Treasure Island'].sort_values(by=['year'])
movies_treasure_island

                  title  year
217091  Treasure Island  1918
54095   Treasure Island  1920
201357  Treasure Island  1934
102046  Treasure Island  1950
81338   Treasure Island  1972
117328  Treasure Island  1973
216419  Treasure Island  1985
189010  Treasure Island  1999

### How many movies were made in the year 1950?

In [32]:
movies_made_in_1950 = len(titles[titles['year'] == 1950])
movies_made_in_1950

1113

### How many movies were made in the year 1960?

In [33]:
movies_made_in_1960 = len(titles[titles['year'] == 1960])
movies_made_in_1960

1549

### How many movies were made from 1950 through 1959?

In [63]:
movies_1950_to_1959 = len(titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)])
movies_1950_to_1959

12934

### In what years has a movie titled "Batman" been released?

In [67]:
batman_movie_years = titles['year'][titles['title'] == 'Batman']
batman_movie_years

59052    1989
78565    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [77]:
roles_in_movie_inception = len(cast[cast['title'] == 'Inception'])
roles_in_movie_inception

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [80]:
inception_roles_notranked = len(cast[(cast['title'] == 'Inception') & (cast['n'].isnull())])
inception_roles_notranked

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [82]:
inception_roles_ranked = len(cast[(cast['title'] == 'Inception') & (cast['n'])])
inception_roles_ranked

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [85]:
nbwest_cast_nordered = cast[(cast['title'] == 'North by Northwest') & (cast['n'])].sort_values(by=['n'])
nbwest_cast_nordered

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [86]:
sleuth_cast_of1972 = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)].sort_values(by=['n'])
sleuth_cast_of1972

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [87]:
sleuth_cast_of2007 = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007)].sort_values(by=['n'])
sleuth_cast_of2007

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [92]:
credited_roles_hamlet1921 = len(cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921) & (cast['n'])])
credited_roles_hamlet1921

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [93]:
credited_roles_branagh1996 = len(cast[(cast['title'] == 'Branagh') & (cast['year'] == 1996) & (cast['n'])])
credited_roles_branagh1996

0

### How many "Hamlet" roles have been listed in all film credits through history?

In [94]:
credited_roles_hamlet = len(cast[(cast['title'] == 'Hamlet') & (cast['n'])])
credited_roles_hamlet

249

### How many people have played an "Ophelia"?

In [100]:
all_people_on_ophelia = cast[cast['title'] == 'Ophelia']['name']

people_on_ophelia = {}

for person in all_people_on_ophelia:
    if person in people_on_ophelia.keys():
        people_on_ophelia[person] += 1
    else:
        people_on_ophelia[person] = 1
        
no_of_people = len(people_on_ophelia.keys())
no_of_people

19

### How many people have played a role called "The Dude"?

In [108]:
all_thedude_roles = cast[cast['character'] == 'The Dude']['name']

counting_thedude_roles = {}

for dude in all_thedude_roles:
    if dude in counting_thedude_roles.keys():
        counting_thedude_roles[dude] += 1
    else:
        counting_thedude_roles[dude] = 1

no_played_thedude = len(counting_thedude_roles.keys())
no_played_thedude

19

### How many people played a role called "The Stranger"?

In [109]:
all_thestranger_roles = cast[cast['character'] == 'The Stranger']['name']

counting_thestranger_roles = {}

for stranger in all_thestranger_roles:
    if stranger in counting_thestranger_roles.keys():
        counting_thestranger_roles[stranger] += 1
    else:
        counting_thestranger_roles[stranger] = 1

no_played_thestranger = len(counting_thestranger_roles.keys())
no_played_thestranger

202

### How many roles has Sidney Poitier played throughout his career?

In [111]:
all_sPoitier_roles = len(cast[cast['name'] == 'Sidney Poitier'])
all_sPoitier_roles

43

### How many roles has Judi Dench played?

In [112]:
all_jDench_roles = len(cast[cast['name'] == 'Judi Dench'])
all_jDench_roles

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [116]:
cGrant_sroles_in1940s = cast[(cast['name'] == 'Cary Grant') & 
                                (cast['n'] == 2) & 
                                ((cast['year'] >= 1940) & (cast['year'] <= 1949))].sort_values(by=['year'])
cGrant_sroles_in1940s

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [117]:
cGrant_lroles_in1940s = cast[(cast['name'] == 'Cary Grant') & 
                                (cast['n'] == 1) & 
                                ((cast['year'] >= 1940) & (cast['year'] <= 1949))].sort_values(by=['year'])
cGrant_lroles_in1940s

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [120]:
all_roles_in1950s = len(cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]['character']) 
all_roles_in1950s

215471

### How many roles were available for actresses in the 1950s?

In [122]:
all_roles_in1950s_actresses = len(cast[(cast['year'] >= 1950) & 
                                       (cast['year'] <= 1959) & 
                                       (cast['type'] == 'actress')]['character']) 
all_roles_in1950s_actresses

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [10]:
all_lroles_to1980 = len(cast[(cast['year'] <= 1980) & (cast['n'] == 1)]['character']) 
all_lroles_to1980

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [9]:
all_nonlroles_to1980 = len(cast[(cast['year'] <= 1980) & (cast['n'] != 1)]['character']) 
all_nonlroles_to1980

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [11]:
all_nanroles_to1980 = len(cast[(cast['year'] <= 1980) & (cast['n'].isnull())])
all_nanroles_to1980

448347